/* Your CSS goes here */
.pokemon {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 0.5rem;
}
.pokemon img {
  max-height: 50px;
  margin-right: 0.5rem;
}
